body{

    margin: 0;
    padding: 0;
}

.p-1{
    background-color: rgba(13, 151, 32, 0.911);
    margin-left: 300px;
    margin-right: 300px;
    
}

ol{
 background-color: darkviolet;
}
.p-2{
        
     background-color: chocolate;
     margin-left: 300px;
     margin-right: 200px; 
     color: red;

        }
.p-3{
            background-color: chocolate;
            color: antiquewhite;
            margin-left: 100px;
            margin-right: 200px;  
            font-size: x-small;
        }
.logo{
    
    margin: auto;
    display: block;
    width: 80px;
    height: 100px;
}

h1{
text-align: center;

}